/* Katie specific style */

#katie_ask {
  margin-top: 20px;
}

#katie_answer {
  font-size: 0.8em;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  /*background-color: pink;*/
}

#katie_faq {
  font-size: 0.8em;
  font-weight: normal;
  /*background-color: pink;*/
}

.katie_topic h2 {
  /*background-color: pink;*/
}

.katie_qna {
  /*background-color: yellow;*/
  margin-bottom: 20px;
}

.katie_question {
  /*background-color: yellow;*/
  margin-bottom: 10px;
}

.katie_question_text {
  /*background-color: yellow;*/
  margin-right: 20px;
}

.katie_chevron_down {
  background-image: url("chevron-down.svg");
  background-repeat: no-repeat;
  /*background-color: pink;*/
}

.katie_chevron_up {
  background-image: url("chevron-up.svg");
  background-repeat: no-repeat;
  /*background-color: yellow;*/
}

.katie_answer_collapsed {
  display: none;
}

.katie_answer_expanded {
  /*background-color: lightblue;*/
}

.katie_answer_expanded li {
  /*background-color: lightblue;*/
  list-style-type: circle;
}

.katie-text-button {
  font-size: 1em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: blue;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  transition: opacity .5s;
}

.katie-text-button:hover {
  opacity: .6;
}

#katie_answer_not_helpful {
  /*background-color: pink;*/
  margin-top: 20px;
  margin-bottom: 20px;
}

#katie_send_to_expert {
}

/* The Modal (background) */
.katie_overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#katie_overlay_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#katie_overlay_content h2 {
  /*background-color: pink;*/
  font-size: 1.2em;
}

#katie_overlay_content p {
  /*background-color: yellow;*/
  font-size: 0.8em;
}

#katie_overlay_content input {
  /*background-color: green;*/
  max-width: 35rem;
  width: 100%;
}

.katie_close-overlay {
  display: none;
  opacity: 0;
}

.katie_open-overlay {
  display: flex;
  opacity: 1;
}
