/* Katie specific style */

#katie_ask {
  margin-top: 20px;
}

#katie_answer {
  font-size: 0.8em;
  font-weight: normal;
  margin-top: 20px;
  /*background-color: pink;*/
}

#katie_faq {
  font-size: 0.8em;
  font-weight: normal;
  /*background-color: pink;*/
}

.katie_topic h2 {
  /*background-color: pink;*/
}

.katie_qna {
  /*background-color: yellow;*/
  margin-bottom: 20px;
}

.katie_question {
  /*background-color: yellow;*/
  margin-bottom: 10px;
}

.katie_question_text {
  /*background-color: yellow;*/
  margin-right: 20px;
}

.katie_chevron_down {
  background-image: url("chevron-down.svg");
  background-repeat: no-repeat;
  /*background-color: pink;*/
}

.katie_chevron_up {
  background-image: url("chevron-up.svg");
  background-repeat: no-repeat;
  /*background-color: yellow;*/
}

.katie_answer_collapsed {
  display: none;
}

.katie_answer_expanded {
  /*background-color: lightblue;*/
}

.katie-text-button {
  font-size: 1em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: blue;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  transition: opacity .5s;
}

.katie-text-button:hover {
  opacity: .6;
}

#katie_send_to_expert {
  background-color: white;
/*
  padding: 6.4rem;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  max-width: 44.5rem;
*/
}

.katie_overlay {
  position: absolute;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
}

.katie_overlay input {
  max-width: 35rem;
  width: 100%;
}

.katie_close-overlay {
  display: none;
  opacity: 0;
}

.katie_open-overlay {
  display: flex;
  opacity: 1;
}
