/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


 .katie_chevron_down {
  background-image: url("chevron-down.svg");
      cursor: pointer;
}

.katie_chevron_up {
  background-image: url("chevron-up.svg");
  cursor: pointer;
}